In [1]:
import pandas as pd 
from pathlib import Path
from collections import Counter
from sklearn.metrics import f1_score, precision_recall_fscore_support
import statistics as stat

In [37]:
base_dir = r'E:\lager\models\droc-model-electra-'
gold = Path(r'D:\mydata\Dropbox\uni\AUFSATZ\efficient_training\data\droc\data\test.txt')
df_gold = pd.read_csv(gold, sep=' ', header=None, names=['token', 'tag'])
e0 = Path(base_dir+'0') / 'test_predictions.txt'
df_e0 = pd.read_csv(e0, sep=' ', header=None, names=['token', 'tag'])
e1 = Path(base_dir+'1') / 'test_predictions.txt'
df_e1 = pd.read_csv(e1, sep=' ', header=None, names=['token', 'tag'])
e2 = Path(base_dir+'2') / 'test_predictions.txt'
df_e2 = pd.read_csv(e2, sep=' ', header=None, names=['token', 'tag'])
e3 = Path(base_dir+'3') / 'test_predictions.txt'
df_e3 = pd.read_csv(e3, sep=' ', header=None, names=['token', 'tag'])
e4 = Path(base_dir+'4') / 'test_predictions.txt'
df_e4 = pd.read_csv(e4, sep=' ', header=None, names=['token', 'tag'])
e5 = Path(base_dir+'5') / 'test_predictions.txt'
df_e5 = pd.read_csv(e5, sep=' ', header=None, names=['token', 'tag'])
e6 = Path(base_dir+'6') / 'test_predictions.txt'
df_e6 = pd.read_csv(e6, sep=' ', header=None, names=['token', 'tag'])
e7 = Path(base_dir+'7') / 'test_predictions.txt'
df_e7 = pd.read_csv(e7, sep=' ', header=None, names=['token', 'tag'])
e8 = Path(base_dir+'8') / 'test_predictions.txt'
df_e8 = pd.read_csv(e8, sep=' ', header=None, names=['token', 'tag'])
e9 = Path(base_dir+'9') / 'test_predictions.txt'
df_e9 = pd.read_csv(e9, sep=' ', header=None, names=['token', 'tag'])

In [65]:
pd.DataFrame?

In [3]:
df_gold

                       token  tag
0        Sechsundzwanzigstes    O
1                    Kapitel    O
2                        Der    O
3                       neue    O
4                      Bauer  APP
...                      ...  ...
37160  Entstehungsgeschichte    O
37161                unserer    O
37162                   Erde    O
37163               eröffnet    O
37164                      .    O

[37165 rows x 2 columns]

In [4]:
df_e1

                       token  tag
0        Sechsundzwanzigstes    O
1                    Kapitel    O
2                        Der    O
3                       neue    O
4                      Bauer  APP
...                      ...  ...
37160  Entstehungsgeschichte    O
37161                unserer    O
37162                   Erde    O
37163               eröffnet    O
37164                      .    O

[37165 rows x 2 columns]

In [5]:
f1_score(df_gold.tag, df_e1.tag, labels=['APP','O', 'PER'], average='macro')

0.8830494909733063

In [7]:
precision_recall_fscore_support(df_gold.tag, df_e1.tag, labels=['APP','PER'], average='macro')

(0.8543640887921413, 0.805200055067866, 0.8290205810516655, None)

In [36]:
#according to the huggingface script this is the test result:

eval_precision = 0.8025114155251142
eval_recall = 0.7912211592571751
eval_f1 = 0.7968262964012468

In [37]:
f1 = 2 * (eval_precision * eval_recall) / (eval_precision + eval_recall)
f1

0.7968262964012468

In [112]:
r = precision_recall_fscore_support(df_gold.tag, df_e1.tag, labels=['APP', 'PER'])
print(f'precision APP: {r[0][0]:.3f} PER: {r[0][1]:.3f}\
\n{"recall APP:":>14} {r[1][0]:.3f} PER: {r[1][1]:>.3f}\n\
{"f1 APP:":>14} {r[2][0]:>.3f} PER: {r[2][1]:>.3f}\nsupport: {r[3]}')

precision APP: 0.803 PER: 0.906
   recall APP: 0.767 PER: 0.843
       f1 APP: 0.785 PER: 0.874
support: [1137 1003]

'APP'

In [ ]:
def simple_voter(tags):
    line_tags = zip(tags)
    line_tags.count('O')

In [85]:
val = Counter()
columns = ['tag'+str(i) for i in range(10)]
data = [df_e0.tag, df_e1.tag, df_e2.tag, df_e3.tag, df_e4.tag, df_e5.tag,  
                     df_e6.tag, df_e7.tag, df_e8.tag, df_e9.tag]
dfs = pd.DataFrame(data).T
dfs.columns = columns

In [68]:
voted_results = []
for row in dfs.iterrows():
    voted_results.append(Counter(row[1].values).most_common()[0][0])

In [69]:
len(voted_results)

37165

In [70]:
r = precision_recall_fscore_support(df_gold.tag, voted_results, labels=['APP','PER'])
print(f'precision APP: {r[0][0]:.3f} PER: {r[0][1]:.3f}\
\n{"recall APP:":>14} {r[1][0]:.3f} PER: {r[1][1]:>.3f}\n\
{"f1 APP:":>14} {r[2][0]:>.3f} PER: {r[2][1]:>.3f}\nsupport: {r[3]}')

precision APP: 0.804 PER: 0.919
   recall APP: 0.766 PER: 0.842
       f1 APP: 0.784 PER: 0.879
support: [1137 1003]

In [71]:
precision_recall_fscore_support(df_gold.tag, voted_results, labels=['APP','O', 'PER'])

(array([0.80350554, 0.98916444, 0.91947769]),
 array([0.76605101, 0.99303355, 0.84247258]),
 array([0.78433138, 0.99109522, 0.8792924 ]),
 array([ 1137, 35025,  1003], dtype=int64))

In [88]:
f1_voted = precision_recall_fscore_support(df_gold.tag, voted_results,  labels=['APP', 'PER'], average='macro')[2]
c = 0
differences = []
for column in data:
    f1_single = precision_recall_fscore_support(df_gold.tag, column, labels=['APP', 'PER'], average='macro')[2]
    if f1_single > f1_voted:
        print(f'df_e{c} is better')
        
    differences.append(f1_voted-f1_single)
    c += 1

In [96]:
print(f'mean: {stat.mean(differences)}. (std: {stat.stdev(differences)})' )
print(f'max value: {max(differences)}')
print(f'min value: {min(differences)}')

mean: 0.006495800805882334. (std: 0.004069759146751109)
max value: 0.0132327197926142
min value: 0.0012698100671066914

In [60]:
dissent_small = 0
dissent_big = 0
consistent_wrong = 0
for row, gold in zip(dfs_.iterrows(), df_gold.tag):
    dis_row = set(row[1].values)
    if len(dis_row) == 2:
        dissent_small+=1
    elif len(dis_row) == 3:
        dissent_big+=1
    if len(dis_row) == 1 and list(dis_row)[0] != gold:
        consistent_wrong += 1

In [61]:
print(dissent_small)
print(dissent_big)
print(consistent_wrong)

534
19
428

In [ ]:
all = 1137 + 35025 + 1003

In [58]:
c = 0
for row, gold in zip(dfs_.iterrows(), df_gold.tag):
    dis_row = set(row[1].values)
    if len(dis_row) == 2:
        print(f'{row[1].values} - {gold}')
        c += 1
    elif len(dis_row) == 3:
        #print(f'{row[1].values} - {gold}')
        pass
    
    if c > 50: break

['O' 'O' 'APP' 'APP' 'APP' 'APP' 'APP' 'O' 'O' 'O'] - O
['O' 'O' 'APP' 'O' 'O' 'O' 'O' 'O' 'APP' 'APP'] - APP
['O' 'O' 'O' 'O' 'O' 'O' 'O' 'O' 'O' 'APP'] - O
['O' 'O' 'O' 'O' 'O' 'O' 'O' 'O' 'O' 'APP'] - O
['APP' 'APP' 'APP' 'APP' 'O' 'O' 'O' 'APP' 'APP' 'O'] - O
['APP' 'APP' 'APP' 'APP' 'APP' 'APP' 'APP' 'APP' 'O' 'APP'] - O
['APP' 'APP' 'APP' 'O' 'APP' 'APP' 'APP' 'APP' 'O' 'APP'] - APP
['APP' 'APP' 'APP' 'APP' 'O' 'O' 'O' 'O' 'O' 'APP'] - APP
['APP' 'O' 'O' 'APP' 'O' 'O' 'O' 'O' 'O' 'O'] - O
['O' 'O' 'O' 'O' 'O' 'O' 'O' 'APP' 'O' 'APP'] - APP
['O' 'O' 'O' 'O' 'O' 'O' 'O' 'O' 'O' 'APP'] - O
['O' 'APP' 'APP' 'APP' 'O' 'O' 'O' 'O' 'APP' 'APP'] - O
['O' 'O' 'O' 'O' 'APP' 'APP' 'APP' 'APP' 'O' 'O'] - O
['APP' 'O' 'APP' 'APP' 'APP' 'APP' 'APP' 'APP' 'APP' 'APP'] - O
['O' 'APP' 'APP' 'APP' 'O' 'O' 'O' 'APP' 'APP' 'APP'] - APP
['APP' 'PER' 'PER' 'APP' 'PER' 'PER' 'PER' 'APP' 'APP' 'PER'] - PER
['PER' 'PER' 'APP' 'PER' 'PER' 'PER' 'PER' 'APP' 'PER' 'PER'] - PER
['APP' 'APP' 'APP' 'APP' 'O' 'O' 'O' 'APP' 'APP' 'O'] - O
['APP' 'O' 'O' 'O' 'O' 'O' 'O' 'O' 'APP' 'APP'] - APP
['O' 'O' 'O' 'APP' 'O' 'O' 'O' 'O' 'O' 'O'] - O
['O' 'O' 'O' 'O' 'O' 'O' 'O' 'O' 'O' 'APP'] - APP
['APP' 'APP' 'APP' 'O' 'APP' 'APP' 'APP' 'APP' 'APP' 'APP'] - APP
['APP' 'APP' 'PER' 'APP' 'PER' 'PER' 'PER' 'PER' 'PER' 'PER'] - PER
['APP' 'APP' 'O' 'O' 'APP' 'APP' 'APP' 'APP' 'O' 'APP'] - APP
['O' 'O' 'APP' 'O' 'APP' 'APP' 'APP' 'O' 'O' 'O'] - APP
['APP' 'APP' 'APP' 'APP' 'O' 'O' 'O' 'APP' 'APP' 'APP'] - APP
['APP' 'O' 'APP' 'APP' 'O' 'O' 'O' 'APP' 'APP' 'APP'] - O
['APP' 'APP' 'O' 'APP' 'O' 'O' 'O' 'APP' 'O' 'APP'] - APP
['O' 'O' 'O' 'O' 'O' 'O' 'O' 'APP' 'APP' 'O'] - O
['PER' 'PER' 'PER' 'PER' 'PER' 'PER' 'PER' 'O' 'PER' 'PER'] - O
['APP' 'APP' 'APP' 'APP' 'O' 'O' 'O' 'APP' 'APP' 'APP'] - APP
['O' 'O' 'O' 'APP' 'O' 'O' 'O' 'O' 'APP' 'O'] - O
['PER' 'PER' 'O' 'O' 'O' 'O' 'O' 'PER' 'O' 'O'] - O
['O' 'O' 'PER' 'O' 'O' 'O' 'O' 'PER' 'O' 'O'] - O
['APP' 'O' 'O' 'APP' 'APP' 'APP' 'APP' 'APP' 'APP' 'O'] - O
['O' 'APP' 'O' 'O' 'O' 'O' 'O' 'O' 'O' 'O'] - O
['APP' 'O' 'O' 'O' 'O' 'O' 'O' 'O' 'APP' 'O'] - O
['APP' 'APP' 'APP' 'O' 'APP' 'APP' 'APP' 'APP' 'APP' 'APP'] - APP
['O' 'APP' 'O' 'O' 'O' 'O' 'O' 'APP' 'APP' 'O'] - APP
['O' 'O' 'O' 'O' 'O' 'O' 'O' 'APP' 'O' 'O'] - APP
['APP' 'APP' 'APP' 'O' 'APP' 'APP' 'APP' 'APP' 'O' 'APP'] - O
['APP' 'O' 'APP' 'O' 'O' 'O' 'O' 'APP' 'APP' 'O'] - APP
['PER' 'PER' 'PER' 'O' 'O' 'O' 'O' 'O' 'PER' 'O'] - O
['APP' 'APP' 'APP' 'APP' 'APP' 'APP' 'APP' 'APP' 'APP' 'PER'] - APP
['O' 'O' 'O' 'O' 'O' 'O' 'O' 'APP' 'O' 'O'] - O
['O' 'PER' 'PER' 'PER' 'O' 'O' 'O' 'PER' 'PER' 'O'] - PER
['O' 'APP' 'APP' 'APP' 'O' 'O' 'O' 'O' 'O' 'O'] - O
['APP' 'APP' 'O' 'APP' 'APP' 'APP' 'APP' 'O' 'O' 'O'] - O
['O' 'O' 'O' 'O' 'O' 'O' 'O' 'APP' 'O' 'APP'] - PER
['APP' 'APP' 'APP' 'O' 'APP' 'APP' 'APP' 'O' 'O' 'APP'] - APP
['O' 'O' 'O' 'O' 'APP' 'APP' 'APP' 'O' 'O' 'O'] - APP

In [100]:
from collections import defaultdict
results = defaultdict(list, {'eval_loss': [0.0459157828572056, 0.033768184715881944, 0.04073328711092472, 0.051157466894774524, 0.06086354581837324, 0.05360105078752068, 0.04199437001793116, 0.0636099944374739, 0.047252396995757236, 0.06589457702769626, 0.04881200838773962, 0.03475756815660902, 0.04498173930224473, 0.05463380733918813, 0.06397211823136882, 0.05546093731483614, 0.04363618892453173, 0.06532545402072944, 0.051323528238163704, 0.06926462071108593, 0.08284558994214862, 0.06350448669927829, 0.07509534525827079, 0.09469966608513561, 0.10602081194519997, 0.09489778383497403, 0.07147069241595912, 0.11124905424479109, 0.08262822484564886, 0.11672001284830458], 'eval_precision': [0.8322115384615385, 0.8097855964815833, 0.7767918088737201, 0.8178206583427923, 0.7573313782991202, 0.7655430711610487, 0.7918983320095314, 0.7674418604651163, 0.806371018113679, 0.793552036199095, 0.8219641993226899, 0.8083427282976324, 0.7669064748201438, 0.7998859749144812, 0.7547027840481565, 0.7592174567343868, 0.8076609616951915, 0.7616968184653774, 0.779245283018868, 0.7889273356401384, 0.8318028032866119, 0.8096026490066225, 0.7787794729542302, 0.8133640552995391, 0.7849624060150376, 0.783763277693475, 0.7959514170040486, 0.785264483627204, 0.8154911838790933, 0.8077373974208675], 'eval_recall': [0.8318116290245074, 0.8388382687927107, 0.8093883357041252, 0.8095505617977528, 0.7305516265912305, 0.73, 0.772269558481797, 0.7876884422110553, 0.8003719776813392, 0.7895329206527856, 0.8164344065353195, 0.816628701594533, 0.7581792318634424, 0.7882022471910113, 0.7093352192362093, 0.7207142857142858, 0.7676219984508134, 0.7669597989949749, 0.7681339119652821, 0.7698368036015757, 0.8270062469966363, 0.8354214123006833, 0.798719772403983, 0.7932584269662921, 0.7383309759547383, 0.7378571428571429, 0.761425251742835, 0.7832914572864321, 0.8028518288902666, 0.7754642656162071], 'eval_f1': [0.8320115356885365, 0.824055944055944, 0.7927551375827238, 0.8136645962732918, 0.7437005039596832, 0.7473491773308958, 0.7819607843137255, 0.77743335399876, 0.8033602986932171, 0.7915373765867418, 0.8191899710703954, 0.8124645892351275, 0.7625178826895566, 0.7940011318619128, 0.7313160772876413, 0.739465005496519, 0.7871326449563144, 0.764319248826291, 0.7736497034030597, 0.7792651666191968, 0.8293975903614459, 0.8223094170403589, 0.7886235955056179, 0.8031854379977246, 0.7609329446064139, 0.7601177336276673, 0.7783056215360253, 0.7842767295597484, 0.809122149328335, 0.7912718920470858]})
eval_loss =  0.065 
eval_precision  =   0.792
eval_recall  =   0.781 
eval_f1  =   0.787

In [105]:
print(stat.mean(results['eval_f1']))
print(stat.stdev(results['eval_f1']))
print(max(results['eval_f1']))
print(min(results['eval_f1']))

0.7866231080513318
0.027379040612346115
0.8320115356885365
0.7313160772876413

In [6]:
df = pd.read_csv('test.csv', header=None)

In [7]:
df

          0    1    2
0     fotis  123  123
1    simone  222  333
2  matthias  312  322